.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.dashboard-container {
    background-color: #8AAAE5;
    color: #22215f;
    border-radius: 12px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    margin: 12px auto;
    padding: 7px 0px;
    /* font-weight: bold; */

}

.dashboard-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-heading {
    font-family: 'Bree Serif', serif;
}

.input-container {
    /* border: 2px solid red; */
    /* width: 40%; */
    margin: 12px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.input-box {
    /* border: 2px solid green; */
    margin: 0 34px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    /* background-color: grey; */
    /* box-shadow: 1px 0px 12px 1px #8AAAE5 */
    /* -1px -0px 10px 1px #8AAAE5 */
    /* box-shadow: -3px -3px #8AAAE5; */
}

/* .budget-button {
    width: 50%y;
    margin: 8px 0;
} */
.input-box .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8AAAE5;
    color: #22215f;
    border: none;
}

.budget-button {
    width: 60%;
    margin: 8px 1px;
    padding: 4px 0px;
    border-radius: 5px;
    font-family: 'Bree Serif', serif;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;

}

.expense-button {
    width: 99%;
    margin: 8px auto;
    padding: 4px 0px;
    border-radius: 5px;
    font-family: 'Bree Serif', serif;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;

}

.inputs-aside input {
    width: 90%;
    height: 100%;
}

.expense-input {
    display: flex;
    flex-direction: column;
    /* width: 38%; */

}

.inputs-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.set {
    margin: 0 4px;
}

.firstset {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
}

.firstset select {
    width: 99%;
    height: 34px;
    padding: 4px;
    font-size: .9rem;
    border-radius: 4px;
    border: 1px solid #ccc;

}

.secondset {
    display: flex;
    flex-direction: column;
    /* border: 2px solid orange; */
}

label {
    margin: 2px 0;
    color: #22215f;
    font-family: 'Bree Serif', serif;
    font-size: 1.1rem;
    /* font-weight: bold; */
}

input {
    /* width: 90%; */
    height: 100%;
    padding: 8px;
    font-size: .9rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    /* font-family: 'Baloo Bhai 2', cursive; */

}

#expense-date-value {
    height: 16px;
}

/* 
.table-details{
    width: 100%;
    margin-bottom: 1px;
    margin: 1px auto;
    padding: 0px 34px;
    background-color: #8aaae5d2;
    border-radius: 3px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.expense-details{
    display: flex;
    justify-content: space-around;
} */

.expense-table {
    width: 90%;
    margin: 34px auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

tr {
    height: 55px;
}

th {
    background-color: #8AAAE5;
    color: #22215f;
    font-family: 'Bree Serif', serif;
    font-size: 1.1rem;
    text-align: center;
    padding: 8px 5px;
    vertical-align: middle;

}

tr:nth-child(even) {
    background-color: #9cb4e0bd;
}

tr:nth-child(odd) {
    background-color: #9cb4e076;
}

td {
    text-align: center;
    padding: 8px 5px;
    vertical-align: middle;
    /* font-family: 'Baloo Bhai 2', cursive; */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;

}

.firstData {
    text-align: left;
    padding-left: 3px;
}

td #date {
    color: gray;
    font-size: .9rem;
    padding: 0px;
}

.actionsImg {
    width: 20px;
    cursor: pointer;
    margin: 0 2px;
}

#delete {
    filter: invert(14%) sepia(85%) saturate(6716%) hue-rotate(359deg) brightness(110%) contrast(111%);
}

#edit {
    filter: invert(19%) sepia(84%) saturate(2865%) hue-rotate(222deg) brightness(84%) contrast(100%);
    ;
}
.warning-para{
    margin: 0;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    height: 40px;
    /* text-decoration: underline; */
    background-color: rgba(243, 198, 198, 0.639);
    display: none;
}