@media screen and (max-width: 530px) {
  .dashboard-container {
    font-size: 1.2rem;
  }

  .inputs-container {
    margin: 30px 20px;
  }

  .input-box .btn {
    font-size: 1rem;
  }

  .expense-table {
    margin: 34px 20px;
  }

  th {
    font-size: 0.9rem;
  }

  td {
    font-size: 0.8rem;
  }

  td p {
    font-size: 0.7rem;
  }

  .actionsImg {
    width: 20px;
  }
}

@media screen and (max-width: 430px) {
  .dashboard-container {
    font-size: 1.1rem;
  }

  .inputs-container {
    margin: 30px 10px;
  }

  .input-box .btn {
    font-size: 0.9rem;
  }

  .expense-table {
    margin: 34px 10px;
  }

  th,
  td {
    padding: 2px 4px;
  }
  
  th {
    font-size: 0.8rem;
  }

  td {
    font-size: 0.7rem;
  }

  td p {
    font-size: 0.6rem;
  }

  #first-data {
    padding: 5px;
  }

  .actionsImg {
    width: 15px;
  }
}
